<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Reach Vanity SQL Generator</title>
<link rel="stylesheet" href="https://threads.plaid.com/threads.css">

<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main class="main">
    <div class="grid">
      <div class="grid__column grid__column--is-twelve-columns">
        <div id="banner" class="everpresent-content">
          <div class="pb-md-4"><img src="https://files.readme.io/0beec18-small-Reach_Purple.png" height="55px"></div>
          <div><h1>Reach Vanity Hack SQL Tool</h1></div>
        </div>

        <div id="container">

				{% block body %}
				{% endblock %}
        </div>

      </div>
    </div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

</body>
</html>
